/*
@font-face {
    font-family: kanit;
    src: url(https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500&amp;subset=thai);
}
*/

html{
    
}
body{
    /*
	margin:0;
	background-image: url("Eposter.jpg");
	background-color:#82bc00;;
    background-position: relative;
    background-size:100% 1100px;
    */
   background-color:#fff20;

	font:400 16px/18px 'kanit',sans-serif;
    background: #fff20; /* Old browsers */

       
        background-size: auto;
        background-repeat:no-repeat,repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.container{
/*        max-width: 576px;*/
   
        background: #ffdd00; /* Old browsers */
        background-color: #0181c9;
        background: -moz-linear-gradient(top, #ffdd00 0%, #ffd600 2%, #fcd400 3%, #ffd200 3%, #fed201 4%, #fbce00 4%, #facb00 5%, #fbca03 5%, #fcc900 6%, #fac600 6%, #fbc800 7%, #f9c402 7%, #fbc50b 7%, #f9c50f 7%, #fac515 7%, #f9c613 8%, #f9c41c 8%, #f9c51a 8%, #f9c420 8%, #f9c420 8%, #f9c323 8%, #f9c12e 9%, #fac132 9%, #f8bf30 9%, #f9c033 9%, #f9c031 9%, #f9bf37 9%, #f7be3b 10%, #f7bd40 10%, #f7bb43 11%, #f7b948 11%, #f6ba4a 12%, #f5b84d 12%, #f6b84b 12%, #f6b652 12%, #f6b750 12%, #f6b655 13%, #f6b652 13%, #f4b355 13%, #f5b458 13%, #f5b456 13%, #f5b45a 13%, #f5b45a 14%, #f4b160 14%, #f4b163 15%, #f5b166 15%, #f2ae63 15%, #f4af62 15%, #f4ae66 15%, #f2ad68 16%, #f4ad6b 16%, #f2ab69 16%, #f3ad6f 17%, #f2aa70 17%, #f2a974 17%, #f4a773 18%, #f4a876 18%, #f3a775 18%, #f3a678 18%, #f1a476 18%, #f3a678 18%, #f3a678 19%, #f3a67c 19%, #f1a083 21%, #f1a085 21%, #f19f89 21%, #f09e86 22%, #f19f8a 22%, #f09e89 22%, #f39c89 22%, #f39e8a 22%, #f39c88 23%, #f39b8d 23%, #f19b8e 23%, #f29991 24%, #f19890 24%, #f39893 24%, #f19894 25%, #f29897 25%, #f19695 25%, #f09696 26%, #f19799 26%, #f1959a 27%, #f0939d 27%, #ef949b 27%, #ef939e 27%, #f092a0 28%, #ef919f 28%, #ef91a3 29%, #f190a4 30%, #ef8ea2 30%, #f18fa8 30%, #f08da9 32%, #f08daa 32%, #f18ead 32%, #f08dac 32%, #f08cb0 32%, #f08bad 33%, #f08ab1 33%, #f08aaf 33%, #f08ab2 33%, #f089b4 35%, #ee88b7 35%, #ef87b8 37%, #f088bd 38%, #ef86be 38%, #f186be 39%, #f388c0 39%, #f286c0 40%, #f286c4 41%, #f286c4 41%, #f286c0 41%, #f086c4 41%, #f285c8 42%, #f085c9 44%, #f187cf 45%, #f287cb 46%, #f286d1 46%, #f187cf 47%, #ef85cd 48%, #eb84cd 50%, #eb86cc 51%, #ea85c9 51%, #e882cc 51%, #ea83cc 51%, #e783cb 52%, #e882cb 52%, #e483ca 52%, #e181c8 54%, #e381ca 54%, #df82c9 54%, #df82c8 55%, #dd84c8 55%, #dd84c8 56%, #da81c5 56%, #dd80c7 56%, #d881c6 57%, #d681c5 58%, #d481c7 58%, #d281c4 59%, #d281c6 59%, #ce81c5 60%, #d080c5 60%, #ca82c4 61%, #c880c2 61%, #c681c4 63%, #c780c2 63%, #c481c6 63%, #c380c3 63%, #c281c3 64%, #bd81c1 64%, #bf83c3 65%, #bd81c1 65%, #bd81c1 66%, #b882c0 66%, #b981c0 66%, #ba82c3 66%, #b980c4 66%, #b480c2 66%, #b482c1 67%, #b082c0 68%, #af82c3 69%, #a283bf 71%, #a581bf 71%, #a183bf 71%, #a182be 72%, #a183c1 72%, #9e82bd 72%, #9c82bf 73%, #9a80bd 73%, #9a82be 73%, #9683bb 74%, #9682bf 74%, #9581be 75%, #9183be 75%, #9183c0 75%, #8c82be 75%, #8b83bf 76%, #8781bd 77%, #8783c0 77%, #8282be 77%, #8584c0 77%, #8584c0 77%, #8382be 77%, #8383bf 78%, #8181bd 78%, #8082bf 78%, #7d81c0 78%, #7d81be 79%, #7882bd 79%, #7880be 79%, #7483be 79%, #7781be 80%, #7383be 80%, #7181bc 81%, #6f82bc 81%, #6d81be 81%, #6c82be 82%, #6981bf 82%, #6880be 82%, #6482be 82%, #6683bf 82%, #6481bd 82%, #6282bf 83%, #5f81be 83%, #5e80bd 83%, #5b81c0 83%, #5682bf 84%, #5981bf 84%, #5381bc 84%, #5082c1 84%, #5080be 84%, #4f81c0 85%, #4d7fbe 85%, #4981be 85%, #497fbb 85%, #4680bf 85%, #4482bf 86%, #3f7fbd 86%, #3e80bc 86%, #3e7fbf 86%, #3a7fc0 87%, #3480be 87%, #3682c0 87%, #3180c2 87%, #307fc1 87%, #2d81c1 87%, #2b7fbf 88%, #2d81c1 88%, #297ebe 88%, #2781bf 88%, #227fbc 88%, #217fbf 88%, #1c7fc0 88%, #1c7fc0 88%, #1a80c2 88%, #167dbf 88%, #177fbe 89%, #0d7fbe 89%, #117ec1 89%, #0581bf 89%, #087ebc 89%, #0880bf 89%, #0080c1 89%, #027fc1 94%, #027ec4 94%, #007fc4 97%, #0181ca 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffdd00 0%,#ffd600 2%,#fcd400 3%,#ffd200 3%,#fed201 4%,#fbce00 4%,#facb00 5%,#fbca03 5%,#fcc900 6%,#fac600 6%,#fbc800 7%,#f9c402 7%,#fbc50b 7%,#f9c50f 7%,#fac515 7%,#f9c613 8%,#f9c41c 8%,#f9c51a 8%,#f9c420 8%,#f9c420 8%,#f9c323 8%,#f9c12e 9%,#fac132 9%,#f8bf30 9%,#f9c033 9%,#f9c031 9%,#f9bf37 9%,#f7be3b 10%,#f7bd40 10%,#f7bb43 11%,#f7b948 11%,#f6ba4a 12%,#f5b84d 12%,#f6b84b 12%,#f6b652 12%,#f6b750 12%,#f6b655 13%,#f6b652 13%,#f4b355 13%,#f5b458 13%,#f5b456 13%,#f5b45a 13%,#f5b45a 14%,#f4b160 14%,#f4b163 15%,#f5b166 15%,#f2ae63 15%,#f4af62 15%,#f4ae66 15%,#f2ad68 16%,#f4ad6b 16%,#f2ab69 16%,#f3ad6f 17%,#f2aa70 17%,#f2a974 17%,#f4a773 18%,#f4a876 18%,#f3a775 18%,#f3a678 18%,#f1a476 18%,#f3a678 18%,#f3a678 19%,#f3a67c 19%,#f1a083 21%,#f1a085 21%,#f19f89 21%,#f09e86 22%,#f19f8a 22%,#f09e89 22%,#f39c89 22%,#f39e8a 22%,#f39c88 23%,#f39b8d 23%,#f19b8e 23%,#f29991 24%,#f19890 24%,#f39893 24%,#f19894 25%,#f29897 25%,#f19695 25%,#f09696 26%,#f19799 26%,#f1959a 27%,#f0939d 27%,#ef949b 27%,#ef939e 27%,#f092a0 28%,#ef919f 28%,#ef91a3 29%,#f190a4 30%,#ef8ea2 30%,#f18fa8 30%,#f08da9 32%,#f08daa 32%,#f18ead 32%,#f08dac 32%,#f08cb0 32%,#f08bad 33%,#f08ab1 33%,#f08aaf 33%,#f08ab2 33%,#f089b4 35%,#ee88b7 35%,#ef87b8 37%,#f088bd 38%,#ef86be 38%,#f186be 39%,#f388c0 39%,#f286c0 40%,#f286c4 41%,#f286c4 41%,#f286c0 41%,#f086c4 41%,#f285c8 42%,#f085c9 44%,#f187cf 45%,#f287cb 46%,#f286d1 46%,#f187cf 47%,#ef85cd 48%,#eb84cd 50%,#eb86cc 51%,#ea85c9 51%,#e882cc 51%,#ea83cc 51%,#e783cb 52%,#e882cb 52%,#e483ca 52%,#e181c8 54%,#e381ca 54%,#df82c9 54%,#df82c8 55%,#dd84c8 55%,#dd84c8 56%,#da81c5 56%,#dd80c7 56%,#d881c6 57%,#d681c5 58%,#d481c7 58%,#d281c4 59%,#d281c6 59%,#ce81c5 60%,#d080c5 60%,#ca82c4 61%,#c880c2 61%,#c681c4 63%,#c780c2 63%,#c481c6 63%,#c380c3 63%,#c281c3 64%,#bd81c1 64%,#bf83c3 65%,#bd81c1 65%,#bd81c1 66%,#b882c0 66%,#b981c0 66%,#ba82c3 66%,#b980c4 66%,#b480c2 66%,#b482c1 67%,#b082c0 68%,#af82c3 69%,#a283bf 71%,#a581bf 71%,#a183bf 71%,#a182be 72%,#a183c1 72%,#9e82bd 72%,#9c82bf 73%,#9a80bd 73%,#9a82be 73%,#9683bb 74%,#9682bf 74%,#9581be 75%,#9183be 75%,#9183c0 75%,#8c82be 75%,#8b83bf 76%,#8781bd 77%,#8783c0 77%,#8282be 77%,#8584c0 77%,#8584c0 77%,#8382be 77%,#8383bf 78%,#8181bd 78%,#8082bf 78%,#7d81c0 78%,#7d81be 79%,#7882bd 79%,#7880be 79%,#7483be 79%,#7781be 80%,#7383be 80%,#7181bc 81%,#6f82bc 81%,#6d81be 81%,#6c82be 82%,#6981bf 82%,#6880be 82%,#6482be 82%,#6683bf 82%,#6481bd 82%,#6282bf 83%,#5f81be 83%,#5e80bd 83%,#5b81c0 83%,#5682bf 84%,#5981bf 84%,#5381bc 84%,#5082c1 84%,#5080be 84%,#4f81c0 85%,#4d7fbe 85%,#4981be 85%,#497fbb 85%,#4680bf 85%,#4482bf 86%,#3f7fbd 86%,#3e80bc 86%,#3e7fbf 86%,#3a7fc0 87%,#3480be 87%,#3682c0 87%,#3180c2 87%,#307fc1 87%,#2d81c1 87%,#2b7fbf 88%,#2d81c1 88%,#297ebe 88%,#2781bf 88%,#227fbc 88%,#217fbf 88%,#1c7fc0 88%,#1c7fc0 88%,#1a80c2 88%,#167dbf 88%,#177fbe 89%,#0d7fbe 89%,#117ec1 89%,#0581bf 89%,#087ebc 89%,#0880bf 89%,#0080c1 89%,#027fc1 94%,#027ec4 94%,#007fc4 97%,#0181ca 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffdd00 0%,#ffd600 2%,#fcd400 3%,#ffd200 3%,#fed201 4%,#fbce00 4%,#facb00 5%,#fbca03 5%,#fcc900 6%,#fac600 6%,#fbc800 7%,#f9c402 7%,#fbc50b 7%,#f9c50f 7%,#fac515 7%,#f9c613 8%,#f9c41c 8%,#f9c51a 8%,#f9c420 8%,#f9c420 8%,#f9c323 8%,#f9c12e 9%,#fac132 9%,#f8bf30 9%,#f9c033 9%,#f9c031 9%,#f9bf37 9%,#f7be3b 10%,#f7bd40 10%,#f7bb43 11%,#f7b948 11%,#f6ba4a 12%,#f5b84d 12%,#f6b84b 12%,#f6b652 12%,#f6b750 12%,#f6b655 13%,#f6b652 13%,#f4b355 13%,#f5b458 13%,#f5b456 13%,#f5b45a 13%,#f5b45a 14%,#f4b160 14%,#f4b163 15%,#f5b166 15%,#f2ae63 15%,#f4af62 15%,#f4ae66 15%,#f2ad68 16%,#f4ad6b 16%,#f2ab69 16%,#f3ad6f 17%,#f2aa70 17%,#f2a974 17%,#f4a773 18%,#f4a876 18%,#f3a775 18%,#f3a678 18%,#f1a476 18%,#f3a678 18%,#f3a678 19%,#f3a67c 19%,#f1a083 21%,#f1a085 21%,#f19f89 21%,#f09e86 22%,#f19f8a 22%,#f09e89 22%,#f39c89 22%,#f39e8a 22%,#f39c88 23%,#f39b8d 23%,#f19b8e 23%,#f29991 24%,#f19890 24%,#f39893 24%,#f19894 25%,#f29897 25%,#f19695 25%,#f09696 26%,#f19799 26%,#f1959a 27%,#f0939d 27%,#ef949b 27%,#ef939e 27%,#f092a0 28%,#ef919f 28%,#ef91a3 29%,#f190a4 30%,#ef8ea2 30%,#f18fa8 30%,#f08da9 32%,#f08daa 32%,#f18ead 32%,#f08dac 32%,#f08cb0 32%,#f08bad 33%,#f08ab1 33%,#f08aaf 33%,#f08ab2 33%,#f089b4 35%,#ee88b7 35%,#ef87b8 37%,#f088bd 38%,#ef86be 38%,#f186be 39%,#f388c0 39%,#f286c0 40%,#f286c4 41%,#f286c4 41%,#f286c0 41%,#f086c4 41%,#f285c8 42%,#f085c9 44%,#f187cf 45%,#f287cb 46%,#f286d1 46%,#f187cf 47%,#ef85cd 48%,#eb84cd 50%,#eb86cc 51%,#ea85c9 51%,#e882cc 51%,#ea83cc 51%,#e783cb 52%,#e882cb 52%,#e483ca 52%,#e181c8 54%,#e381ca 54%,#df82c9 54%,#df82c8 55%,#dd84c8 55%,#dd84c8 56%,#da81c5 56%,#dd80c7 56%,#d881c6 57%,#d681c5 58%,#d481c7 58%,#d281c4 59%,#d281c6 59%,#ce81c5 60%,#d080c5 60%,#ca82c4 61%,#c880c2 61%,#c681c4 63%,#c780c2 63%,#c481c6 63%,#c380c3 63%,#c281c3 64%,#bd81c1 64%,#bf83c3 65%,#bd81c1 65%,#bd81c1 66%,#b882c0 66%,#b981c0 66%,#ba82c3 66%,#b980c4 66%,#b480c2 66%,#b482c1 67%,#b082c0 68%,#af82c3 69%,#a283bf 71%,#a581bf 71%,#a183bf 71%,#a182be 72%,#a183c1 72%,#9e82bd 72%,#9c82bf 73%,#9a80bd 73%,#9a82be 73%,#9683bb 74%,#9682bf 74%,#9581be 75%,#9183be 75%,#9183c0 75%,#8c82be 75%,#8b83bf 76%,#8781bd 77%,#8783c0 77%,#8282be 77%,#8584c0 77%,#8584c0 77%,#8382be 77%,#8383bf 78%,#8181bd 78%,#8082bf 78%,#7d81c0 78%,#7d81be 79%,#7882bd 79%,#7880be 79%,#7483be 79%,#7781be 80%,#7383be 80%,#7181bc 81%,#6f82bc 81%,#6d81be 81%,#6c82be 82%,#6981bf 82%,#6880be 82%,#6482be 82%,#6683bf 82%,#6481bd 82%,#6282bf 83%,#5f81be 83%,#5e80bd 83%,#5b81c0 83%,#5682bf 84%,#5981bf 84%,#5381bc 84%,#5082c1 84%,#5080be 84%,#4f81c0 85%,#4d7fbe 85%,#4981be 85%,#497fbb 85%,#4680bf 85%,#4482bf 86%,#3f7fbd 86%,#3e80bc 86%,#3e7fbf 86%,#3a7fc0 87%,#3480be 87%,#3682c0 87%,#3180c2 87%,#307fc1 87%,#2d81c1 87%,#2b7fbf 88%,#2d81c1 88%,#297ebe 88%,#2781bf 88%,#227fbc 88%,#217fbf 88%,#1c7fc0 88%,#1c7fc0 88%,#1a80c2 88%,#167dbf 88%,#177fbe 89%,#0d7fbe 89%,#117ec1 89%,#0581bf 89%,#087ebc 89%,#0880bf 89%,#0080c1 89%,#027fc1 94%,#027ec4 94%,#007fc4 97%,#0181ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#0181ca',GradientType=0 ); /* IE6-9 */
        
        background-size: auto;
        background-repeat:no-repeat,repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
    
        box-sizing: border-box;

        height: 100%;
        position: relative;

        box-sizing: border-box;
        padding: 0px;

}

.login-wrap{
	width: 100%;
    height: 100%;
	margin: auto;
 
	max-width: 90%;
	
	position: relative;
/*    background-color: #ff821d;*/
    top: auto; 
	bottom: auto; 
/*    background:rgba(193, 193, 193, 1);*/
    background:#f8f9fa00;
    border-radius: 15px;
/*	box-shadow:0 12px 15px 0 rgba(0,0,0,.15),0 17px 50px 0 rgba(0,0,0,.15);*/
}
.login-html{
	width:100%;
	height:100%;
	position:relative;
	padding:0px 20px 0px 20px;
    
    background-position: right bottom; 
    border-radius: 15px;
    background-size: 330px 330px;
    
/*    background-size: 92% auto;*/

/*	background:rgba(255, 187, 114, 0.78);*/
    
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:10px;
	left:0;
	right:0;   
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
	transition:all .4s linear;
    text-align:center;
}
sign-up-htm2{
	top:10px;
	left:0;
	right:0;   
	bottom:0;
	position:absolute;

}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-form2{
    
    display:none;
    min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
    margin-bottom:15px;
}

.tab2{
    font-size:22px;
    color:#625c5c;
    margin-bottom: 20px;
     color:grey;
     border: 1.2px solid #D1D1D1;
    height: 50px;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
    color:#ffffff;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#007fc4;
	border-color:#007fc4;
}
.login-form{
    margin: auto;
	min-height:345px;
    max-width:500px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:99%;
	color:#fff;
	display:block;
    font:400 16px/18px 'kanit',sans-serif;
}
.login-form .group .input,
.login-form .group .button{
    
    font-size: 1em;
    text-align: center;
	border-radius: 25px;
    background:#fff;
    
}
.login-form .group .input{
    color:grey;
     border: 1.2px solid #D1D1D1;
    height: 50px;
}

.login-form .group .input:focus {
    border-color: #66afe9;
    outline: 0;
    background: rgb(255, 241, 226);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#fff;
	font-size:12px;
}
.login-form .group .button{
	background:#fd8204;
    border: 1.2px solid #D1D1D1;
    height: 45px;
    width: 40%;;
    margin:auto;

    
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:#465267ba;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#465267ba;
}
.login-form .group .check:checked + label .icon{
	background:#465267ba;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

h5{
    color: #403b3b;
    text-align:center;
    margin-top: 0;
    margin-bottom: 0;
    
}

.hr{
	height:1px;
	margin:5px 0 10px 0;
	background: #D1D1D1
}
.foot-lnk{
	text-align:center;
/*    color: inherit;*/
    
    color: #ffffff;
/*    font-weight: bold;*/
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.alert{
    border-radius: 0.75rem;
}

.card-product  {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
        max-width: 450px;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.85rem;
        margin:0px auto 20px auto;

}
.card-product .img-wrap img {
    max-height: 100px;;
    max-width: 100px;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating {
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.card-product .price-new {
    color: #999;
 
}

.main-header {
    margin: auto;
    background-color: white;
    overflow: inherit;
    height: 42px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
     max-width:906px;
}

.head-left {
    float: left;
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
}

.head-right {
    float: right;
    text-align: right;
    margin-top: 11px;
    padding-right: 0;
}

.pic{
    max-width: 100%;
    max-height: 100%;
    min-width: 90px;
    min-height: 100px;
    width: 180px;
    height: 140px;
        margin: auto;
/*    overflow: hidden;*/
}


img.item-pic{
    width:90%;
    height:95%;
    
/*    padding:12px;*/
    padding-left: 5px;
    padding-top: 5px;
/*    padding-right: 5px;*/
    margin:auto;
    
}

.check_result{
    padding-top: 6.5px;
    max-height: 15px;
    
}

.img-loader{
    padding-bottom: 1.5px;
    max-height: 20px;
    
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
      box-shadow: 0.5px 0px #888888;
    text-align: left;
      -webkit-box-shadow: 3.2px 0.5px #0000001a;
    -moz-box-shadow: 3.2px 0.5px #0000001a;
    -ms-box-shadow: 3.2px 0.5px #0000001a;
    
   
}

.sidenav a {
  padding: 8px 8px 5px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
    position: relative;
     margin-left: auto;
    

}

.sidenav :hover {
  background-color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  margin-left: 50px;
  padding-top:14px;
  font-size:40px;
}

.login-or {
position: relative;
color: #fff;
    font-size: 16px;
margin-top: 8px;
margin-bottom: 10px;
padding-top: 8px;
padding-bottom: 10px;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
    background-color: #ef91a2;
background-image:linear-gradient(#ef91a2, #f08da9);;
width: 50px;
text-align: center;
}
.hr-or {
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0),url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
    
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
      background-color: white;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    font-family: kanit;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    font-family: kanit;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    font-family: kanit;
}

